<!doctype html>
<html lang=pt-BR xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_template :: head('Jogos')}"></head>
    <body>
        <nav th:replace="~{_template :: #navbar}"></nav>
        <main class="container center" style="min-height: 100vh;">
            <div class="card-panel hoverable" th:each="jogo: ${jogos}">
                <h5 class="left-align" th:text="${jogo.nome}"></h5>
                <h6 class="left-align" th:text="${jogo.desenvolvedora}"></h6>
                <p class="left-align" th:text="${jogo.dataLancamento.getDayOfMonth()} + '/' + ${jogo.dataLancamento.getMonthValue()} + '/' + ${jogo.dataLancamento.getYear()}"></p>
            </div>
        </main>
        <div class="fixed-action-btn">
            <a href="/jogos/new" class="btn-floating btn-large red indigo darken-1">
                <i class="large material-icons">add</i>
            </a>
        </div>
        <footer th:replace="~{_template :: #page-footer}"></footer>
    </body>
</html>