<!doctype html>
<html lang=pt-BR xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_template :: head('Comentários')}"></head>
    <body>
        <nav th:replace="~{_template :: #navbar}"></nav>
        <main class="container center" style="min-height: 100vh;">
            <div class="card-panel hoverable" th:each="coment: ${coments}">
                <h5 class="left-align" th:text="${coment.usuario} + ' - ' + ${coment.nota} + '/5'"></h5>
                <p class="left-align" th:text="${coment.jogo}"></p>
                <p class="left-align" th:text="${coment.conteudo}"></p>
            </div>
        </main>
        <div class="fixed-action-btn">
            <a href="/comentarios/new" class="btn-floating btn-large red indigo darken-1">
                <i class="large material-icons">add</i>
            </a>
        </div>
        <footer th:replace="~{_template :: #page-footer}"></footer>
    </body>
</html>